ORACLE_USER=your_oracle_user
ORACLE_PASSWORD=your_oracle_password
ORACLE_HOST=your_oracle_host
ORACLE_PORT=1521
ORACLE_SERVICE=your_oracle_service
OPENAI_API_KEY=sk-your-openai-api-key
OPENOBSERVE_HOST=your_openobserve_host
OPENOBSERVE_USERNAME=your_openobserve_username
OPENOBSERVE_PSWD=your_openobserve_password
CHART_DIRECTORY_STAFFCONNECT=./charts
